@model PhoneBookMVC.ViewModels.UsersVM.UsersListVM
@using PagedList.Mvc

@{
    ViewBag.Title = "List Users";
}

<h3>@ViewBag.Title</h3>

<p>
    @(Html.ActionLink<UsersController>("Create New", c => c.Edit()))
</p>

@using (Html.BeginForm<UsersController>(c => c.List(), FormMethod.Get))
{
    <div>
        <h5>Find by name:</h5>
        <p>
            @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-default" id="search-submit" />
        </p>
    </div>
}

@if (Model.Users.Count == 0)
{
    <div class="alert alert-info">No Users Found</div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @(Html.ActionLink<UsersController>("Username", c => c.List(), new { Search = Model.Search, SortOrder = Model.SortOrder == "username_asc" ? "username_desc" : "username_asc" }, null))
            </th>
            <th>
                @(Html.ActionLink<UsersController>("First Name", c => c.List(), new { Search = Model.Search, SortOrder = Model.SortOrder == "fname_asc" ? "fname_desc" : "fname_asc" }, null))
            </th>
            <th>
                @(Html.ActionLink<UsersController>("Last Name", c => c.List(), new { Search = Model.Search, SortOrder = Model.SortOrder == "lname_asc" ? "lname_desc" : "lname_asc" }, null))
            </th>
            <th>Email</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(Html.ActionLink<UsersController>("Edit", c => c.Edit(), new { id = item.ID })) |
                    @(Html.ActionLink<UsersController>("Delete", c => c.Delete(item.ID))) |
                    @(Html.ActionLink<ContactsController>("Show Contacts", c => c.List(), new { ContactID = item.ID }, null))
                </td>
            </tr>
        }

    </table>
    <br />

    <div>
        @Html.PagedListPager(Model.Users, page => (@Url.Action<UsersController>(c => c.List(), new { Page = page, Search = Model.Search, PageSize = Model.PageSize })))
        Page @(Model.Users.PageCount < Model.Users.PageNumber ? 0 : Model.Users.PageNumber) of @Model.Users.PageCount
    </div>
}

@using (Html.BeginForm<UsersController>(c => c.List(), FormMethod.Get, new { Search = Model.Search, SortOrder = Model.SortOrder, PageSize = Model.PageSize }, new { @id = "pageSizeForm" }))
{
    <div>
        <p id="for-page-size">Items on page: </p>
        @Html.DropDownListFor(model => model.PageSize, new SelectList(new List<SelectListItem> {
                 new SelectListItem { Text = "2", Value = "2"},
                 new SelectListItem { Text = "5", Value = "5"},
                 new SelectListItem { Text = "10", Value = "10"}
             }, "Value", "Text"), new { @class = "form-control" })
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#PageSize').change(function () {
                $('#pageSizeForm').submit();
            });
        });
    </script>
}